@CHARSET "EUC-KR";
div.ticket{
	padding: 10px;
}
div.seat{
	text-align: center;
	width:100%;
	margin: 20px 0px 0px 0px;
}
div.screen{
	height: 30px;
	width: 765px;
	background-color: gray;
	margin: 10px;
}
div.screen strong.screen-title{
	background-color: gray;
	position: relative;
    top: 11%;
}
div.seat div.line{
	height: 20px;
	width: 100%;
}
div.seat div.line ul{
	display:inline-block;
	margin: 0px;
	height: 20px;
	padding: 0px;
	width: 850px;
	position: relative;
    left: 8px;
}
div.seat div.line ul li{
	list-style: none;
	float: left;
	height: 20px;
	width: 20px;
	background-color: gray;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
	margin: 1px 5px 1px 5px;
	padding: 1px;
	font-size: 9pt;
}
form#frm{
	margin: 0px 0px 18px 0px;
}
span.resetBtn{
	width:30px;
	height: 10px;
	border: 1px solid black;
}