@CHARSET "EUC-KR";

div.seat{
}
div.seat ul{
	margin: 0px;
}
div.seat ul li{
	list-style: none;
	float: left;
	height: 20px;
	width: 20px;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
	margin: 1px 5px 1px 5px;
	padding: 1px;
	font-size: 9pt;
	position:relative;
}