@CHARSET "EUC-KR";

center{
	position: relative;
	top: 30px;
}

.year{
	font-size: 20px;
}

.month{
	font-size: 25px;
	font-weight: bold;
}

.day2{
	font-size: 20px;
}

.menu{
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
}

#theater_table{
	margin-left: 20px;
}

#local{
	border: solid thin;
    margin-bottom: -4px;
    width: 97px;
    height: 5px;
    text-align: center;
    padding: 17px 0px 35px 0px;
    position: relative;
    top: 10px;
    font-size: 18px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
/* 
p.click{
	background-color:black;
	color: white;
} */
#local:HOVER{
	background-color:black;
	color: white;
}

#local:ACTIVE{
	background-color:black;
	color: white;
}

#theater{
	border: solid thin;
    margin-bottom: 14px;
    width: 70px;
    height: 0px;
    text-align: center;
    padding: 13px 0px 34px 0px;
    margin-left: 30px;
    border-collapse: collapse;
    position: relative;
    bottom: 36px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#theater:HOVER{
	background-color:black;
	color: white;
}

#theater:ACTIVE{
	background-color:black;
	color: white;
}

#movieList{
	margin-left: 90px;
	margin-top: 14px;
}

.movie a:HOVER{
	background-color: #cce6ff;
}

.movie{
	margin-bottom: 17px;
	font-size: 18px;
}

#movieList img{
	width: 17px;
}

#theaterNo{
	margin-bottom: 18px;	
	font-size: 20px;
	font-weight: bold;
}

#movietime{
    margin-bottom: 20px;
    font-size: 18px;
    border: solid thin;
    width: 55px;
    height: 33px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 6px 0px 2px 0px;
}

#movietime:HOVER{
	background-color:black;
	color: white;
}

#movietime:ACTIVE{
	background-color:black;
	color: white;
}

th{
	background-color: #131555;
}

#main_table{
	background-color: white;
}

.main_table_td{
	border-right: solid thin;
}

#movieInfo_table{
	margin-top: 10px;
	height: 40px;
	background-color: #131555;
	color: white;
}

.back_button {
	-moz-box-shadow: 0px 0px 0px 2px #f5978e;
	-webkit-box-shadow: 0px 0px 0px 2px #f5978e;
	box-shadow: 0px 0px 0px 2px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	
	margin-top:  20px;
}
.back_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}

.back_button:active {
	position:relative;
	top:1px;
}

.next_button {
	-moz-box-shadow: 0px 0px 0px 2px #54a3f7;
	-webkit-box-shadow: 0px 0px 0px 2px #54a3f7;
	box-shadow: 0px 0px 0px 2px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
	margin-top:  20px;
}
.next_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.next_button:active {
	position:relative;
	top:1px;
}


















