@CHARSET "EUC-KR";
.list_btn{
	width: 143px;
    height: 42px;
    background: url(../image/list_btn.gif) no-repeat center center;
    background-size: cover;
}
.reserve_btn{
	width: 200px;
    height: 42px;
    background: url(../image/list_btn.gif) no-repeat center center;
    background-size: cover;
    cursor: pointer; 
}
.list{
	color: white;
}
.movielist{
	background-color: rgba(250,250,250,0.6);
	width: 1000px;
}
.tb{
	border-collapse: separate;
    border-spacing: 35px;
}
.title{
	font-size: 13px;
}
#cont td{
	max-width: 291px;
}
.title_2{
	font-size: 25px;
}
#cont span{
	font-weight : bold;
	margin-left: 5px;
}
pre{
	font-size: 12pt;
    font-family: 맑은고딕;
}
#cont{
	width: 875px;
	margin-bottom: 30px;
}
.movieBtn{
	max-width: none;
}
#youtube{
	margin-bottom: 500px;
}

/* 댓글부분 css */
#reply{
	position: relative;
	bottom: 430px;	
	width: 1000px;
}
#reply h3{
	
	margin-bottom: 10px;
}

#send{
	width: 105px;
    height: 94px;
    background-color: black;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

#reply ul li{
	position: relative;
	top:20px;
	margin-left: 10px;
	list-style: none;
	border-bottom: 1px solid;
	margin-bottom: 30px;
}

#reContent{
	font-size: 20px;
	position: relative;
	left: 15px;
}












