@CHARSET "EUC-KR";
.list_btn{
	width: 143px;
    height: 42px;
    background: url(../image/list_btn.gif) no-repeat center center;
    background-size: cover;
}
.reserve_btn{
	width: 200px;
    height: 42px;
    background: url(../image/list_btn.gif) no-repeat center center;
    background-size: cover;
}
.list{
	color: white;
}
.tb{
	border-collapse: separate;
    border-spacing: 35px;
}
.title{
	font-size: 13px;
}
td{
	max-width: none;
}
.title_2{
	font-size: 25px;
}
#cont span{
	font-weight : bold;
}
