@CHARSET "EUC-KR";
.list_btn{
	width: 143px;
    height: 42px;
    background: url(../image/list_btn.gif) no-repeat center center;
    background-size: cover;
}
.reserve_btn{
	width: 200px;
    height: 42px;
    background: url(../image/list_btn.gif) no-repeat center center;
    background-size: cover;
    cursor: pointer; 
}
.list{
	color: white;
}
.movielist{
	background-color: rgba(250,250,250,0.6);
	width: 1000px;
}
.tb{
	border-collapse: separate;
    border-spacing: 35px;
}
.title{
	font-size: 13px;
}
#cont td{
	max-width: 291px;
}
.title_2{
	font-size: 25px;
}
#cont span{
	font-weight : bold;
	margin-left: 5px;
}
pre{
	font-size: 12pt;
    font-family: 맑은고딕;
}
#cont{
	width: 875px;
	margin-bottom: 30px;
}
.movieBtn{
	max-width: none;
}
#youtube{
	margin-bottom: 500px;
}

/* 댓글부분 css */
#reply_table{
	border: 1px solid #002266;
	border-collapse: collapse;
}

#reply_table td{
	border-left: 1px solid #002266;
	border-collapse: collapse;
}
#reply{
	position: relative;
	bottom: 430px;	
	width: 1000px;
}
#reply h3{
	
	margin-bottom: 10px;
}

#send{
	width: 108px;
    height: 91px;
    background-color: black;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

#reply ul li{
	position: relative;
	top:20px;
	margin-left: 10px;
	list-style: none;
	border-bottom: 1px solid;
	margin-bottom: 30px;
}

#ul li div{
	margin-bottom: 10px;
}

#reContent{
	font-size: 20px;
	position: relative;
	left: 15px;
}
div.detail{
	background-color: rgba(250,250,250,0.6);
	width: 1000px;
	margin: 10px;
	padding: 10px;
}

/* 별점 */
.star-input>.input, .star-input>.input>label:hover, .star-input>.input>input:focus+label,
	.star-input>.input>input:checked+label {
	display: inline-block;
	vertical-align: top;
	background: url(img/star.png) no-repeat;
}

.star-input {
	white-space: nowrap;
}

.star-input>.input {
	display: inline-block;
	width: 100px;
	background-size: 100px;
	height: 19px;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}

.star-input>.input>input {
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
}

.star-input>.input.focus {
	outline: 1px dotted #ddd;
}

.star-input>.input>label {
	width: 10px;
	height: 0;
	padding: 19px 0 0 0;
	overflow: hidden;
	float: left;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
}

.star-input>.input>label:hover, .star-input>.input>input:focus+label,
	.star-input>.input>input:checked+label {
	background-size: 100px;
	background-position: 0 bottom;
}

.star-input>.input>label:hover ~label{
	background-image: none;
}

.star-input>.input>label[for="p1"] {
	width: 10px;
	z-index: 10;
}

.star-input>.input>label[for="p2"] {
	width: 20px;
	z-index: 9;
}

.star-input>.input>label[for="p3"] {
	width: 30px;
	z-index: 8;
}

.star-input>.input>label[for="p4"] {
	width: 40px;
	z-index: 7;
}

.star-input>.input>label[for="p5"] {
	width: 50px;
	z-index: 6;
}

.star-input>.input>label[for="p6"] {
	width: 60px;
	z-index: 5;
}

.star-input>.input>label[for="p7"] {
	width: 70px;
	z-index: 4;
}

.star-input>.input>label[for="p8"] {
	width: 80px;
	z-index: 3;
}

.star-input>.input>label[for="p9"] {
	width: 90px;
	z-index: 2;
}

.star-input>.input>label[for="p10"] {
	width: 100px;
	z-index: 1;
}

.star-input>output {
	display: inline-block;
	width: 36px;
	text-align: right;
}

.star-input>output>b {
	font: bold 18px Helvetica, Arial, sans-serif;
	vertical-align: middle;
}

#star{
	border: 1px solid;
}
