<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinema.admin.dao.admin-mapper"> 
	<select id="adminMovieAllList" resultType="movie">
	 	SELECT mno,title,opendate,type,rank,movielike FROM movielist
	</select>
	<select id="RList" parameterType="java.util.Map" resultType="reservelist">
		SELECT rno,rtitle,name,rdate,cancle,refund
		FROM (SELECT rno,rtitle,name,rdate,cancle,refund,Rownum as num
		FROM(SELECT rno,rtitle,name,rdate,cancle,refund
		FROM reservelist, member WHERE reservelist.no=member.no))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="RTotal" resultType="int">
		SELECT CEIL(COUNT(*)/10) FROM reservelist
	</select>
</mapper>