@CHARSET "EUC-KR";
input[type="text"].id{
	-webkit-ime-mode:disabled;
	-moz-ime-mode:disabled;
	-ms-ime-mode:disabled;
	ime-mode:disabled;
}
tr,td{
	padding:0px;
	margin: 0px;
}
input{
	width:170px;
	height:20px;	
}
.btn{
	width:65px;
	height:25px;
	font-size: 10pt;
	padding:0px;
}
form{
	padding-top: 30px;
}