<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinema.movieList.dao.list-mapper">
	<select id="caca" parameterType="int" resultType="movie">
		SELECT mNo,poster,title,openDate,grade,content,trailer,rank,movieLike FROM movieList WHERE type=#{a }
	</select>
	<select id="caca2" parameterType="int" resultType="movie">
		SELECT mNo,poster,title,openDate,grade,content,trailer,rank,movieLike FROM movieList WHERE mNo=#{a }
	</select>
</mapper>