<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinema.movieList.dao.list-mapper">
	<select id="caca" parameterType="int" resultType="movie">
		SELECT mNo,poster,title,grade,rank,movieLike FROM movieList WHERE type=#{a }
	</select>
	<select id="caca2" parameterType="int" resultType="movie">
		SELECT mNo,poster,title,openDate,genre,runtime,director,cast,grade,content,trailer,rank,movieLike FROM movieList WHERE mNo=#{b }
	</select>
	<select id="sasasa" parameterType="int" resultType="movie">
		SELECT cname,img FROM characterList WHERE mNo1=#{b } or mNo2=#{b } or mNo3=#{b } or mNo4=#{b } or mNo5=#{b }
	</select>
	
	
	<select id="getReplyData" parameterType="int" resultType="movie">
		SELECT score, reContent, regDate, id FROM replyList NATURAL JOIN member NATURAL JOIN movieList WHERE mNo=#{mNo}
	</select>
</mapper>