<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinema.customer.dao.customer-mapper">
	<select id="CList" parameterType="java.util.Map" resultType="qna">
		SELECT qno,qsubject,name,qregdate,qhit,group_tab,num
		FROM (SELECT qno,qsubject,name,qregdate,qhit,group_tab,Rownum as num
		FROM(SELECT qno,qsubject,name,qregdate,qhit,group_tab
		FROM qna, member WHERE qna.no=member.no ORDER BY group_id DESC,group_step ASC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="CTotal" resultType="int">
		SELECT CEIL(COUNT(*)/10) FROM qna
	</select>
	<insert id="CInsert" parameterType="qna">
		<selectKey keyProperty="qno" resultType="int" order="BEFORE">
			SELECT NVL(MAX(qno)+1,1) as no FROM qna
		</selectKey>
		INSERT INTO qna(qno,qsubject,qcontent,no,group_id) 
		VALUES(#{qno},#{qsubject},#{qcontent},#{no},
		(SELECT NVL(MAX(group_id)+1,1) FROM qna))
	</insert>
	<update id="CHI" parameterType="int">
		UPDATE qna SET qhit=qhit+1 WHERE qno=#{no}
	</update>
	<select id="CContent" resultType="qna" parameterType="int">
		SELECT qno,name,qsubject,qcontent,qregdate,qhit FROM qna NATURAL JOIN member where qno=#{no}
	</select>
	<update id="CUpdate" parameterType="qna">
		UPDATE qna SET qsubject=#{qsubject},qcontent=#{qcontent} WHERE qno=#{qno}
	</update>
	<delete id="CDelete" parameterType="qna">
		Delete FROM qna WHERE qno=#{qno}
	</delete>
	<select id="">
		INSERT INTO qna NATURAL JOIN member(qno, name, qsubject, qcontent, group_id, group_step, group_tab, qhit) "
				+ "VALUES((SELECT NVL(MAX(qno)+1, 1) FROM qna),#{qno},#{qsubject},#{qcontent},#{no})
	</select>
	<select id="GroupData" parameterType="int" resultType="qna">
		SELECT group_id, group_step, group_tab WHERE qno=#{qno}
	</select>
	<select id="faqlist" resultType="qna">
		SELECT question, answer FROM faq
	</select>
</mapper>